<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="px-6 py-5 border-b text-xl flex items-center justify-between bg-teal-300">
       <a href="/" class="text-xl hover:shadow-2xl"> SoPPers</a>
       <div class="">
           <a href="" class="transition delay-150 duration-300 ease-out text-lg bg-amber-300 px-5 py-3 rounded-xl hover:scale-110 hover:bg-amber-500  text-dark ease-in  drop-shadow-2xl">Sing Up</a>
           <a href="" class="transition delay-150 duration-300 ease-out text-lg bg-red-300 px-5 py-3 rounded-xl hover:bg-red-500 text-white ease-in drop-shadow-2xl">Sing In</a>

       </div>
    </nav>
    {%block content%}
      
    {% endblock %}

</body>
</html>