{% extends 'mainapp/base.html' %}
{% block content %}
<div class="mt-6 px-2 py-12 bg-gray-200 flex flex-col items-center justify-between ">
     <h2 class="mb-12 text-2xl text-center">NEW PRODUCTS</h2>
     <div class=" grid grid-cols-3 gap-52 rounded-xl ">
          {% for item in items %}
          <div class="bg-slate-100 px-2 py-3 rounded-xl  hover:drop-shadow-2xl ">
               <a href="{% url 'item:detail' item.id%}"></a>
               <div>
                    <img class="h-80 w-80" src ="{{ item.image.url  }}" alt="">
                    <div>
                         <h2 class = "text-2xl">{{ item.name }}:{{ item.price }}$</h2>
                    </div>
               </div>
          </div>
          {% endfor %}
     </div>
</div>
<!--Categories-->
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
     <h2 class="mb-12 text-2xl text-center"> Product Categories</h2>
     <div class="grid grid-cols-3 gap-3">
          {% for category in categories %}
          <div>
               <a href="#"></a>
               <div>
                    
                    <div>
                         <h2 class = "text-2xl">{{ category.name }}</h2>
                         <p>{{category.items.count }}</p>
                    </div>
               </div>
          </div>
          {% endfor %}
     </div>
</div>
{% endblock %}
