{% extends 'mainapp/base.html' %}
{%block title%}Dashboard{%endblock%}
{% block content %}
<div class="mt-6 px-2 py-12 bg-gray-200 flex flex-col items-center justify-between ">
     <h2 class="mb-12 text-2xl text-center">YOUR PRODUCTS</h2>
     <div class=" grid md:grid-cols-3 gap-52 sm:grid-cols-2 rounded-xl ">
          {% for item in items %}
          <div class="bg-slate-100 px-2 py-3 rounded-xl  hover:drop-shadow-2xl ">
               
               <div>
                    <a href="{% url 'item:detail' item.id %}"><img class="lg:h-80 lg:w-80 md:h-72 md:w-72 " src ="{{ item.image.url  }}" alt=""></a>
                    <div>
                         <h2 class = "text-2xl">{{ item.name }}:{{ item.price }}$</h2>
                    </div>
               </div>
          </div>
          {% endfor %}
     </div>
</div>
{% endblock %}